name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    uses: ./.github/workflows/basic-qc-and-tag.yaml
    with:
      block-slashes: true
    permissions:
      contents: write
